{{define "title"}}Login error{{end}}

{{define "content"}}

{{if or .LoginError.NotRegistered .LoginError.AuthError}}
<form method="POST" action="/login">
    <div class="form-group">
        <label for="nickname">Nickname:</label>
        <input type="text" class="form-control" id="nickname" placeholder="Enter nickname">
        <small id="nickname" class="form-text text-muted"> You can undertext this :) </small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    {{if .LoginError.NotRegistered}}
    {{template "notregistered" .}}
    {{end}}

    {{ if .LoginError.AuthError}}
    {{template "autherror" . }}
    {{end}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}

{{end}}

{{define "notregistered"}}
<small id="NotRegistered" class="form-text text-muted"> Error while login: You are not yet registered!</small>
<small id="YouCanRegister" class="form-text text-muted">You can register on <a href="/registration">this page!</a>
</small>
{{end}}


{{define "autherror"}}
<small id="CheckLoginOrPassword" class="form-text text-muted">Check your login or password!</small>
{{end}}