{{define "index"}}
<html>

<head>
    <title>{{block "title" . }} Index title{{end}} </title>
    {{block "head" . }} {{end}}
</head>

<body>

    {{template "navbar" . }}

    <div class="container">
        <div class="row">

        </div>

        <div class="row">
            <!-- Left coloumn -->
            <div class="col-md-3"></div>

            <!-- Center coloumn -->
            <div class="col-md-6">
                {{block "content" . }} Index content {{end}}
            </div>

            <!-- Right coloumn -->
            <div class="col-md-3"></div>
        </div>
    </div>


</body>

</html>
{{end}}